SPRING_PROFILES_ACTIVE=dev # dev, prod

POSTGRES_HOST=your.host.name
POSTGRES_USER=your_user_name
POSTGRES_PASSWORD=your_p@ssw0rD
POSTGRES_PORT=your_port (5432)
POSTGRES_DB=your_db_name

MINIO_HOST=your.host.name
MINIO_PORT=your_port (9000)
MINIO_CONSOLE_PORT=your_port (9001)
MINIO_ACCESS_KEY=your_access_key
MINIO_SECRET_KEY=your_secret_key
MINIO_BUCKET=your_bucket_name

ACCESS_JWT_SECRET=your_access_secret_here
REFRESH_JWT_SECRET=your_refresh_secret_here